@media print {
    .cookies-alert {
        display: none;
    }
}

.cookies-alert {
    position: fixed;
    z-index: 1000;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: white;
    border-top: solid 1px #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    font-size: 12px;
}
.cookies-alert .cookies-alert-wrap {
    max-width: 960px;
    padding: 20px 30px;
    margin: 0 auto;
}
.cookies-alert .cookies-accept {
    float: right;
    font-size: 2em;
    padding: 10px;
}
.cookies-alert .cookies-accept:hover, 
.cookies-alert .cookies-accept:focus {
    text-decoration: none;
}